<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', { title: 'Book Collection - Minha coleção de livros' }) %>
<body>
    <main class="container">
        <section class="content">
            <%- include('partials/header.ejs') %>
            <%- include('partials/heading.ejs', { title: 'Adicionar Livro'}) %>
            <div class="form-wrapper mt--20">
                <div class="form-control">
                    <label for="title">Título:</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="form-control">
                    <label for="title">Descrição:</label>
                    <textarea name="title" id="title"></textarea>
                </div>
                <div class="form-control">
                    <label for="status">Status:</label>
                    <select name="status" id="status">
                        <option value="1">Já Li</option>
                        <option value="2">Vou Ler</option>
                    </select>
                </div>
                <div class="button-wrapper mt--20">
                    <button class="button"><i class="fa-solid fa-plus icon"></i>Adicionar</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>